body
  background: #fff
  color: #222
  box-sizing: border-box
  font-family: Helvetica, sans-serif
  margin: 30px
  font-size: 18px
  line-height: 1.35

*
  margin: 0
  padding: 0

h1
  font-family: "HelveticaNeue-CondensedBold"