<div>

  <div class="gamepad" *ngIf="gamepads.length == 0">
    <h2 class="inactive"><span>no gamepads connected</span></h2>
  </div>

  <div class="gamepad" *ngFor="let gamepad of gamepads; let $index = index">

    <div *ngIf="!gamepad">
      <h2 class="inactive"><span class="icon">{{$index + 1}} </span><span>n/a</span></h2>
    </div>

    <div *ngIf="gamepad">

      <h2 class="active">
        <span class="icon">{{$index + 1}} </span>
        <span>{{gamepad.id}}</span></h2>
      <div class="info">
        <ul>
          <li class="large"><label>TIMESTAMP</label>
            <span class="value">{{gamepad.timestamp | number:'1.5-5'}}</span>
          </li>
          <li>
            <label>INDEX</label>
            <span class="value">{{gamepad.index}}</span>
          </li>
          <li class="med">
            <label>MAPPING</label>
            <span class="value">{{mappingString(gamepad.mapping)}}</span>
          </li>
        </ul>
      </div>

      <div class="axes">
        <ul>
          <li *ngFor="let axis of gamepad.axes; let $index = index" [ngStyle]="axisStyle(axis)">
            <label>AXIS {{$index}}</label>
            <span class="value">{{axis | number:'1.5-5'}}</span>
          </li>
        </ul>
      </div>

      <div class="buttons">
        <ul>
          <li *ngFor="let button of gamepad.buttons; let $index = index" [ngStyle]="buttonStyle(button)">
            <label>B{{$index}}</label>
            <span class="value">{{buttonValue(button) | number:'1.2-2'}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>