<div>

  <div class="gamepad" *ngIf="gamepads.length == 0">
    <h2 class="inactive"><span>no gamepads connected</span></h2>
  </div>

  <div class="gamepad" *ngFor="let gamepad of gamepads; let $index = index">

    <div *ngIf="!gamepad">
      <h2 class="inactive"><span class="icon">{{$index + 1}} </span><span>n/a</span></h2>
    </div>

    <div *ngIf="gamepad">

      <h2 class="active">
        <span class="icon">{{$index + 1}}</span>
        <span>{{gamepad.id}}</span></h2>
      <div class="info">
        <ul>
          <li class="large"><label>TIMESTAMP</label>
            <span class="value">{{gamepad.timestamp | number:'1.5-5'}}</span>
          </li>
          <li>
            <label>INDEX</label>
            <span class="value">{{gamepad.index}}</span>
          </li>
          <li class="med">
            <label>MAPPING</label>
            <span class="value">{{mappingString(gamepad.mapping)}}</span>
          </li>
        </ul>
      </div>

      <div class="axes">
        <ul>
          <li *ngFor="let axis of gamepad.axes; let $index = index" [ngStyle]="axisStyle(axis)">
            <label>AXIS {{$index}}</label>
            <span class="value">{{axis | number:'1.5-5'}}</span>
          </li>
        </ul>
      </div>

      <div class="buttons">
        <ul>
          <li *ngFor="let button of gamepad.buttons; let $index = index" [ngStyle]="buttonStyle(button)">
            <label>B{{$index}}</label>
            <span class="value">{{buttonValue(button) | number:'1.2-2'}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="faq">
    <h2>FAQ</h2>
    <div class="question">Why isn't my gamepad showing up?</div>
    <div class="answer">The Gamepad API is still inconsistent across browsers and OSes. Some things to check:<ul>
        <li>Is the device plugged in / connected via bluetooth</li>
        <li>Press some buttons. On some devices, only certain buttons will wake up the gamepad API (the shapes on PS3
          controllers, for instance)</li>
        <li>Close other apps that may be using the gamepad</li>
        <li>Restart your web browser</li>
      </ul>
    </div>
    <div class="question">What information is being displayed here?</div>
    <div class="answer">Multiple gamepads can be connected to a computer at once. This displays them all, and their
      current state.<ul>
        <li>Timestamp: the time of the latest update from the gamepad</li>
        <li>Axis [N]: The current position of the gamepad's analog inputs</li>
        <li>B [N]: The current on/off position of buttons. Supports analog buttons.</li>
      </ul>
    </div>
  </div>

</div>